@media all and (max-width: 1100px) {
  .list-view.editing .toolbar,
  .list-view.editing .contact-grid {
    display: none;
  }
}
a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}
a {
    color: #005FDB;
}
h1 {
    color: #005FDB;
}
html {
    --lumo-primary-color: #005FDB;
}
